#dash-body {
  display: flex;
  flex-direction: row;
}
.Dash__main {
  width: 100%;
}
.dashHeader{
  font-size: 36px;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: rgb(126, 126, 126);

}
/* .dashHeader:hover{
  background: -webkit-linear-gradient(45deg, rgb(55, 242, 214), rgb(63, 174, 243), rgb(2, 39, 245) );

} */
.main-nav {
  margin: 0;
  padding: 0;
  /* position: absolute; */
  background-color: #ffffff;
  position: relative;
  height: 100px;
  width: 100%;
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.616);
/* margin-bottom: 20px; */
}
.userName {
  position: absolute;
  right: 50px;
  top: 20px;
}
@media screen and (min-width: 650px) {
  #dash-body {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
  }
}
