#dash-body {
  display: flex;
  flex-direction: row;
}
.Dash__main {
  width: 100%;
}
.main_nav{
  position: relative;
}
.userName {
  position: absolute;
  right: 50px;
  top: 20px;
}
@media screen and (min-width: 650px) {
  #dash-body {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
  }
}
