html,
body {
  margin: 0;
}
.homePage {
  margin: 0;
  width: 100%;
}
.homePage::-webkit-scrollbar {
  display: none;
  opacity: 0;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
  background: -webkit-linear-gradient(
    45deg,
    rgb(55, 242, 214),
    rgb(63, 174, 243),
    rgb(2, 39, 245)
  );
  color: #ffffff;
}
.hero p {
  font-size: 20px;
}
.love-header {
  font-size: 28px;
  margin-left: 10px;
  text-align: left;
}
.build-header {
  font-size: 28px;
  margin: 0;
  text-align: center;
}
.serve-header {
  font-size: 28px;
  margin-right: 10px;
  text-align: right;
}
.carousel,
.slide {
  overflow-x: hidden;
  height: 250px;
}
.carousel p {
  font-size: 24px;
  padding-top: 10px;
  background-color: #daecfa;
  color: #1b98f8;
}
.slide1 {
  width: 100%;
  height: 250px;
  padding-top: 10px;
  background-color: #daecfa;
  color: #1b98f8;
}
.slide2 {
  width: 100%;
  height: 250px;
  background-color: #daecfa;
  background-position-y: -120px;
  background-repeat: no-repeat;
  background-size: cover;

  color: #1b98f8;
}
.slide3 {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #daecfa;
  color: #1b98f8;
}
.slide p {
  margin: 0;
  padding-top: 20px;
  color: #1b98f8;
  background-color: #daecfa;
}
.get-started {
  margin: 0 auto;
  margin-bottom: 10px;
  align-items: center;
  text-decoration: none;
}
.get-started,
.intro-text {
  text-align: center;
}
.img-fade {
  color: #000000;
}
.slide-img {
  height: 100%;
}
.slider {
  text-align: center;
  font-size: 36px;
  height: 200px;
  background-image: linear-gradient(
    to bottom,
    rgb(24, 24, 24),
    rgb(38, 38, 38)
  );
}
.bible,
.chat,
.prayer,
.support {
  display: flex;
  height: 400px;
}
.sign-up{
  font-size: 1.2em;
  color: var(--white);
  padding: 1em;
  margin: 0.5em;
  border-radius: 30px;
  border-width: 0px;
  text-transform: uppercase;
}
.get-started .sign-up {
  background-color: #0b5df5;
}
.get-started .sign-up:hover {
  background-color: #03338e;
  transition: 500ms;
}
.features p {
  font-size: 20px;
}
.bible {
  justify-content: space-around;
  color: #1b98f8;
  background-color: #ffffff;
}
.prayer {
  justify-content: space-around;

  color: #1b98f8;
  background-color: #daecfa;
}
.support {
  justify-content: space-around;

  color: #1b98f8;
  background-color: #ffffff;
}
.features {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
svg:not(:root).svg-inline--fa {
  overflow: visible;
  height: auto;
  width: 30%;
  color: linear-gradient(
    45deg,
    rgb(55, 242, 214),
    rgb(63, 174, 243),
    rgb(2, 39, 245)
  );
  background-clip: icon;
  -webkit-text-fill-color: transparent;
}
#user-icon {
  width: 20%;
}
.feature-text {
  width: 45%;
}
.intro-text {
  width: 87%;
  margin: 0 auto;
  margin-bottom: 10px;
}
@media screen and (min-width: 650px) {
  .love-header {
    font-size: 48px;
    text-align: left;
  }
  .build-header {
    font-size: 48px;
    margin: 0;
    text-align: center;
  }
  .serve-header {
    font-size: 48px;
    text-align: right;
  }
  .dashboard-image {
    height: 400px;
  }
  .intro-text {
    width: 700px;
  }
  .slider,
  .slide1,
  .slide2,
  .slide3 {
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: center;
    justify-content: space-around;
  }
  .slide1 p {
    width: 60%;
    margin: 0 auto;
  }
  .bible,
  .chat,
  .prayer,
  .support {
    height: 600px;
  }
}
