
.hero {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgb(190, 190, 190), rgba(255, 255, 255, 0.002));
  
  
}
.get-started{
  margin-bottom: 50px;
}
.dashboard-image {
  display: flex;
  width: 50%;
  height: 400px;
  margin: 0 auto;
}
.slider{
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
  height: 400px;
  background-image: linear-gradient(to bottom right, rgb(61, 61, 61), rgb(146, 145, 145));
}
.feature{
  display: flex;
  height: 400px;
}
.feature-pic{
  width: 40%;
  height: 300px;
}
.feature-text{
  width: 60%;
  padding:40px;
}

