:root {
  --white: #fff;
  --accent-color: #32d1c1;
  --dark-accent-color: #24c4b4;
  --main-color: #687574;
  --dark-main-color: #3f6562;
}
.wave {
  display: block;
  animation: waving 3s infinite;
}

@keyframes waving {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate( 30deg);
  }
}


.container{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.welcome,
.links {
  text-align: center;
}

.login, .signup {
  font-size: 1.2em;
  color: var(--white);
  padding: 1em;
  margin: 0.5em;
  border-radius: 10px;
  border-width: 0px;
  text-transform: uppercase;
}

.email-input, .password-input {
  padding: 1em;
  border-radius: 0px;
  border: 0px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 95%);
}
.container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  max-width: 250px;
  background-color: var(--white);
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-top: 10px solid var(--accent-color);
}

.signup {
  background-color: var(--accent-color);
}
.signup:hover {
  background-color: var(--dark-accent-color);
}

.login {
  background-color: var(--main-color);
}

.login:hover {
  background-color: var(--dark-main-color);
}

.disclaimer {
  font-size: 0.9em;
}

.links {
  color: var(--main-color);
}

.links:hover {
  color: var(--dark-main-color);
}