:root {
  --white: rgb(237, 237, 237);
  --accent-color: #0b5df5;
  --dark-accent-color: #0342b8;
  --main-color: #01fae9;
  --dark-main-color: #02afa4;
}
.wave {
  display: block;
  animation: waving 3s infinite;
}

@keyframes waving {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
.welcome {
  color: #ffffff;
}
.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 2em;
  align-items: stretch;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background: -webkit-linear-gradient(
    45deg,
    rgb(55, 242, 214),
    rgb(63, 174, 243),
    rgb(2, 39, 245)
  );
}

.welcome,
.links {
  text-align: center;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login,
.signup-now {
  font-size: 1.2em;
  color: var(--white);
  padding: 1em;
  margin: 0.5em;
  border-radius: 25px;
  border-width: 0px;
  text-transform: uppercase;
}

#email-input,
#password-input {
  padding: 1em;
  border-radius: 0px;
  border: 0px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 93%);
}
#email-input:hover,
#password-input:hover {
  background-color: hsl(0, 0%, 73%);
  transition: 500ms;
}
#email-input:active,
#password-input:active {
  background-color: hsl(0, 0%, 73%);
}

.container .login {
  padding: 0.7em;
  width: 50%;
  margin: 0.2em auto;
}
.container a {
  width: 50%;
}
a .signup-now {
  padding: 0.7em;
  width: 100%;
  margin: 0.2em auto;
}
.signup-now {
  background-color: var(--accent-color);
}
.signup-now:hover {
  background-color: var(--dark-accent-color);
}

.login {
  background-color: var(--accent-color);
}

.login:hover {
  background-color: var(--dark-accent-color);
  transition: 500ms;
}

.disclaimer {
  font-size: 0.9em;
}

.links {
  color: var(--main-color);
}

.links:hover {
  color: var(--dark-main-color);
}
@media screen and (min-width: 600px) {
  .buttons{
    flex-direction: column;
  }
}
@media screen and (min-width: 750px) {
  .container {
    align-items: center;
  }
  .container #email-input,
  .container #password-input {
    width: 40%;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    text-align: center;
  }
  .buttons a {
    width: 50%;
  }
  .buttons .signup-now {
    width: 100%;
  }
  .container .login {
    width: 45%;
    margin: 0.5em auto;
  }
}
