.bible-box-dash {
  overflow: scroll;
}
.center-section {
  display: flex;
}
.row-two-dash {
  display: flex;
  flex-direction: column;
}
#need-box {
  box-shadow: none;
}
.question-box {
  background-color: #bef8ef;
}
@media screen and (min-width: 650px) {
  .row-two-dash {
    display: flex;
    flex-direction: row;
  }

  .bible-box-dash {
    max-height: 700px;
  }
}
