.bible-box-dash {
  overflow: scroll;
}
#need-box {
  box-shadow: none;
}
.question-box{
  background-color: #bef8ef;
}
@media screen and (min-width: 650px) {
  .row-one-dash,
  .row-two-dash {
    display: flex;
    flex-direction: column;
  }
  .bible-box-dash {
    max-height: 700px
  }
}
