.bible-box-dash {
  overflow: scroll;
}
#need-box {
  box-shadow: none;
}
@media screen and (min-width: 650px) {
  .row-one-dash,
  .row-two-dash {
    display: flex;
    flex-direction: column;
  }
}
