.chat-box {
  padding-left: 0;
}
.chat-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100%;
  margin: auto;
}
.chat-input {
  width: 90%;
}
.Chat-comp {
  overflow: scroll;
}
.side-right{
  padding-bottom: 40px;
}
@media screen and (min-width: 650px) {
  
  .right-side {
    flex: 1;
  }
}
