/* .main-nav  {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #aaa9a9
} */
.bible-search, .select-passage{
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #e2e0e0;
  border-radius: 10px;
  margin: 20px;
  height: 50px;
}
.select-passage{
  flex-direction: column;
  height: 80px;
}
select{
  border-radius: 10px;
  height: 30px;
  align-items: center;
  justify-content: space-around;
  margin: 1%;
}
.select-passage-header{
  width: 100%;
  margin: 5px;
}
.select-options {
  width: 100%;
  
}
.main-body {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  align-content: center;
}
.main-group{
  display: flex;
  flex-direction: column;
  /* flex: 5; */
}

.box{
  width: 100%;
  padding: 10px;
  background-color: #e2e0e0;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);

}
.bible-texts{
  padding-bottom: 20px;
  overflow: scroll;
  max-height: 700px;
}

.box h3 {
  text-align: center;
}
.bible-passage{
  padding-bottom: 20px;
  max-height: 700px;
  /* overflow: scroll; */

}
/* .box-bible{
  overflow: scroll;
} */
.bible-box{
  background-color: #e2e0e0;
  border-radius: 10px;
  max-height: 700px;
  overflow: scroll;

}
@media screen and (min-width: 650px){
  .main-body{
    flex: 4;
  }
  .row-one, .row-two, .study-tools{
    display: flex;
    
  }
  .row-one {
    /* height: 500px; */
    padding: 20px;
    /* width: 90%; */
    justify-content: space-between;
    margin: 20px;
   
  }
  .row-two{
    height: 300px;
  }
  .study-tools {
    flex-direction: column;
  }
  .box-bible{
  padding: 10px;
  /* overflow: unset; */
  }
  .study-box, .notes-box{
    width: unset;
    padding: 10px;
    background-color: #e2e0e0;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  }
  /* .bible-box{
    background-color: #e2e0e0;
    border-radius: 10px;
    max-height: 1000px;
  } */
 
}