.main-nav {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #aaa9a9;
}
.event-alert {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #e2e0e0;
  border-radius: 10px;
  margin: 40px;
}

.main-body {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.main-group {
  display: flex;
  flex-direction: column;
}

.box-dash {
  padding: 10px;
  padding-bottom: 0;
  background-color: #e2e0e0;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: scroll;
}
.box-dash h3 {
  text-align: center;
}

@media screen and (min-width: 650px) {
  .main-body {
    flex: 4;
  }
  .main {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .center-section {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
  }
  .right-side {
    width: 40%;
  }
  .row-one-dash,
  .row-two-dash {
    width: 45%;
    height: auto;
  }

  .box-dash {
    margin: 20px;
    background-color: #e2e0e0;
    border-radius: 10px;
  }
}
