.main-nav {
  display: flex;
  justify-content: center;
  padding-left: 60px;
  padding-right: 60px;
  align-items: center;
}
.main{
  display: flex;
  flex-direction: column;
}
.qotdAuthor {
  width: 40%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0.25px solid #636363ad;
}
.dashHero h1 {
  font-size: 58px;
  margin-bottom: 10px;
}
.event-alert {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  min-height: 300px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  background: -webkit-linear-gradient(
    45deg,
    rgb(55, 242, 214),
    rgb(63, 174, 243),
    rgb(2, 39, 245)
  );
  background-repeat: no-repeat;
  background-size: cover;
}
.event-alert h3 {
  font-family: "Permanent Marker", cursive;
  color: #ffffff;
}
.event-alert p {
  font-size: 24px;
  max-width: 330px;
  margin: 15px auto;
  color: #ffffff;
}

.main-nav #icon {
  overflow: visible;
  height: auto;
  width: 2%;
  padding: 20px;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background: linear-gradient(
    45deg,
    rgb(55, 242, 214),
    rgb(63, 174, 243),
    rgb(2, 39, 245)
  );
  color: rgb(2, 39, 245);
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  left: 20px;
  top: 30px;
  z-index: 2;
}
.main-nav #icon:hover {
  background: linear-gradient(
    45deg,
    rgb(2, 39, 245),
    rgb(63, 174, 243),
    rgb(55, 242, 214)
  );
  animation: ease forwards;
}
.main-body {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.main-group {
  display: flex;
  flex-direction: column;
}

.bible-box-dash,
.need-box,
.leader-box {
  padding: 20px;
  padding-bottom: 0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  overflow: scroll;
}

.bible-box-dash {
  min-height: 200px;
  line-height: 1.5;
}
.need-box {
  min-height: 300px;
}
.pitch-box {
  background-color: #daecfa;
}
.leader-box {
  min-height: 200px;
}
.question-box {
  padding: 20px;
  padding-bottom: 0;
  background-color: #d5fcf8;
  /* z-index: 1; */
  min-height: 200px;
}
.box-dash h3 {
  text-align: center;
}

@media screen and (min-width: 650px) {
  
  .main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    flex: 3;
  }
  .bible-box-dash{
    width: 80%;
  }
.question-box, #need-box{
  width: 45%;
}
  .center-section {
    display: flex;
    justify-content: space-evenly;
    flex: 2;
  }
  .side-right {
    flex: 1;
  }
  .row-one-dash{
    width: 40%;
    height: auto;
  }
  .row-two-dash{
    display: flex;
    flex-direction: row;
    width: 60%;

  }
.bible-box-dash{
  min-height: 400px;
  justify-content: space-around;
}
  .box-dash {
    margin: 20px;
    border-radius: 10px;
  }
}
