.Needed{
  width: 100%;
}
input[type="checkbox"] + label {
  text-decoration: none;
}
input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}
.Item {
  line-height: 1.3;
  margin-bottom: 0;

}
.Item {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  justify-content: space-around;
  min-height: 200px;
}
