.group-row-one
 {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
  border-radius: 10px;
}
.hidden{
  visibility: hidden;
  height: 0;
}
.pitch-header, .leader-header {
  padding-top: 20px;
}
.pitch-box, .leader-box {
  padding-bottom: 0;
  overflow: scroll;
}
.pitch-box, .leader-box, .leader, .pitch{
  padding: 0;
min-height: 0;
}
.leader, .pitch{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 20px;
  justify-content: space-around;
}
.leader p, .pitch p{
  line-height: 1.7;
}
.group-body {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.main-group{
  display: flex;
  flex-direction: column;
}
.group-box h3 {
  text-align: center;
}

@media screen and (min-width: 650px){
  .group-body{
    display: flex;
    flex-direction: row;
  }
  .group-row-one{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 20px;
    height: unset;
  }
  .group-row-one { 
    display: flex;
    flex-direction: row;   
    
  }
  .row-two{
    height: 300px;
  }
  .group-box{
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 45%;
  }
}