/* .main-nav  {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #aaa9a9;
  margin:0;
} */
.group-row-one
 {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
  /* padding-left: 40px; */
  /* padding-right: 40px; */
  /* box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #e2e0e0; */
  border-radius: 10px;
 
}
.pitch-box {
  padding: 20px;
  padding-bottom: 0;
  /* background-color: rgb(55, 242, 214); */
  /* background: linear-gradient(45deg, rgb(2, 39, 245), rgb(63, 174, 243), rgb(55, 242, 214) ); */
  /* box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2); */
  overflow: scroll;
  /* margin-bottom: 15px; */
  /* background-color: rgb(221, 249, 252); */
  min-height: 300px;
}
.leader, .pitch{
  display: flex;
  flex-direction: column;
  /* margin:0 auto; */
  margin-top: 10px;
  justify-content: space-around;
  min-height: 200px;
}
.leader p, .pitch p{
  line-height: 1.7;

}
.main-body {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  align-content: center;
}
.main-group{
  display: flex;
  flex-direction: column;
  /* flex: 5; */
}


.group-box h3 {
  text-align: center;
}

@media screen and (min-width: 650px){
  .main-body{
    flex: 4;
  }
  .group-row-one{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 20px;
  
  }
  .group-row-one {
    
    height: unset;
  }
  .row-two{
    height: 300px;
  }
  .group-box{
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    /* background-color: #e2e0e0; */
    border-radius: 10px;
  }
}