.App {
  background: rgba(76, 76, 77, 0.973);
  background: linear-gradient(
    90deg,
    rgba(223, 223, 223, 0.906) 0%,
    rgb(153, 153, 153) 53%,
    rgb(100, 100, 100) 100%
  );
  color: var(--main-color);
  
}
.App{
  display: flex;
  flex-direction: column;
}

