footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(29, 53, 189);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.footer-jt {
  display: flex;
  justify-content: space-evenly;
}
.footer-jt p{
  margin-bottom: 0;
  margin-top: 2px;
}
.footer-icon{
  margin: 0;
  text-align: center;
}
.footer-icon p{
  font-size: 10px;
  margin-top: 0;
  margin-bottom: 2px;
}
footer a {
  color: #ffffff;
}
