.side-nav-body {
  display: flex;
  flex-direction: column;
  text-align: left;
  /* width: 70%; */
  padding: 10px;
  padding-top: 45px;
  
  background-color: #ffffff;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.76);
  /* overflow: hidden; */
  position: fixed;
  border-bottom-right-radius: 25px;
  z-index: 1;
}
.side-nav-body {
  display: none;
}
.side-nav h3{
    color: rgb(77, 77, 77);

}
.myLinks {
  display: block;
}
.nav-group {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 650px) {
  .side-nav-body {
    flex: 1;
  }
  .side-nav {
    /* margin-left: 20px; */
    margin-right: 20px;
    border-radius: 10px;
  }
}
