.signup-container {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: flex-start;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-top: 10px solid var(--accent-color);
}

input {
  width: 40%;
  padding: 1em;
  border-radius: 0px;
  border: 0px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 95%);
}
#address-input{
  width: 90%;
}
#bio-input{
  width: 90%;
  height: 200px;
}
