.signup-container {
  margin: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background: -webkit-linear-gradient(
    45deg,
    rgb(55, 242, 214),
    rgb(63, 174, 243),
    rgb(2, 39, 245)
  );
  padding: 2em;
  padding-bottom: 2.7em;
}
.signup-header {
  color: #ffffff;
}
.signup-container .buttons {
  width: 100%;
  text-align: center;
}
.buttons .signup {
  padding: 0.8em;

  margin: 0.5em auto;
  width: 50%;
}
.signup-container button {
  padding: 0.8em;
  background-color: #0b5df5;
}
.signup-container button:hover {
  background-color: #0342b8;
  transition: 500ms;
}

#email-input,
#password-input,
#password-confirm,
#first-name-input,
#last-name-input,
#address-input,
#bio-input {
  width: 90%;
  padding: 1em;
  border-radius: 0px;
  border: 0px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 93%);
}
#email-input:hover,
#password-input:hover,
#password-confirm:hover,
#first-name-input:hover,
#last-name-input:hover,
#address-input:hover,
#bio-input:hover {
  background-color: hsl(0, 0%, 73%);
  transition: 500ms;
}
#email-input:active,
#password-input:active,
#password-confirm:active,
#first-name-input:active,
#last-name-input:active,
#address-input:active,
#bio-input:active {
  background-color: hsl(0, 0%, 73%);
}
#address-input {
  width: 90%;
}
#bio-input {
  width: 90%;
  height: 200px;
}
