.create-body {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: -webkit-linear-gradient(
    45deg,
    rgb(55, 242, 214),
    rgb(63, 174, 243),
    rgb(2, 39, 245)
  );
}
.create-input {
  width: 100%;
}
.create-input input,
.create-input textarea {
  width: 90%;
  padding: 0.5em;
  padding-left: 1em;
  font-size: 1.3em;
  border-radius: 0px;
  border: 0px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 93%);
}
.create-input input:hover,
.create-input textarea:hover {
  background-color: hsl(0, 0%, 73%);
  transition: 500ms;
}
.create-input input:active,
.create-input textarea:active {
  background-color: hsl(0, 0%, 73%);
}

.join-form select {
  display: block;
  border-radius: 10px;
  font-size: 1.3em;

  height: 50px;
  padding-left: 0.6em;
  align-content: center;
  width: 100%;
  justify-content: space-around;
  margin: 0;
}
.join-form,
.create-form {
  width: 90%;
  flex-direction: column;
}
.join-form button,
.create-form button {
  font-size: 1em;
  color: var(--white);
  padding: 0.6em;
  font-size: 1.3em;

  margin: 0.5em;
  width: 60%;
  border-radius: 10px;
  border-width: 0px;
  text-transform: uppercase;

  background-color: #0b5df5;
}

.join-form button:hover,
.create-form button:hover {
  background-color: #0342b8;
  transition: 500ms;
}
@media screen and (min-width: 650px) {
  .main-body {
    flex: 4;
  }
}
